<%- include("header") -%>

<h2> About Page</h2>

<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ipsam libero voluptatum vitae! Dicta commodi ratione magni itaque, nobis, in molestiae sapiente alias blanditiis delectus inventore exercitationem. Quia, quisquam corrupti?</p>

<%- include("footer") -%>
